/* Start Navbar Style */
.navbar{
    background-color: #07859F;
    
}
.navbar .navbar-brand{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    font-family: serif;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: #FFFFFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    margin-left: 15px;
}